/* {{info.name}} */
import axios from "axios";
import ActionBase from "../actbase";

class TempAct extends ActionBase {
    constructor() {
        super();
    }
    static instance;
    static get Instance() {
        if (null == TempAct.instance) {
            TempAct.instance = new TempAct();
        }
        return TempAct.instance;
    }
    {{#item}}
    async {{request.method}}AlreadyAssociation(page, ps,order='modifiedAsc') {
        let ret = await axios.post(`${this.BaseURL}apps`, {
            "page": page,
            "rows": ps,
            "tenantId": "tenantId001",
            "order": order
        });
        if (ret.status == 200) {
            return ret.data;
        }
    }
    {{/item}}
}
export default TempAct;